$primary: #bce7fd;
$grey: #5e6365;
$light-grey: #d1d9dd;
$white: #ffffff;
$control-margin: 0 0.3em 0.3em 0;
$control-width: 150px;

body {
    font-family: 'Roboto', sans-serif;
    .container {
        display: flex;
        .viz-container {
            overflow: hidden;
            width: 50%;
        }
        .controls-container {
            width: 50%;
            display: flex;
            align-items: flex-start;
            flex-direction: row;
            justify-content: flex-start;
            div:first-child {
                margin-right: 20px;
            }
            div {
                display: flex;
                flex-direction: column;
            }
            .prune-controls {
                .prune-container {
                    .header {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        cursor: pointer;
                    }
                }
                .prune-details {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}

button {
    background-color: $white;
    border: 0.1em solid $primary;
    border-radius: 0.12em;
    box-sizing: border-box;
    color: $grey;
    display: inline-block;
    font-weight: 300;
    margin: $control-margin;
    padding: 0.35em 1.2em;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s;
    width: $control-width;
    &:hover {
        background-color: $light-grey;
        cursor: pointer;
        &:disabled {
            cursor: auto;
            background-color: inherit;
        }
    }
    &:disabled {
        color: $light-grey;
        cursor: auto;
    }
}

input {
    &:focus,
    &:focus-visible {
        border-color: $light-grey;
        outline: none;
    }
    background-color: #fff;
    border: 0.1em solid $primary;
    color: $grey;
    margin: $control-margin;
    padding: 0.25em 0.5em;
    width: $control-width;
}
