<!DOCTYPE html>
<html>
    <head>
        <title>TooManyCells</title>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, user-scalable=no"
        />
    </head>
    <body>
        <div class="main">
            <header>
                <h1>TooManyCells</h1>
            </header>
            <div class="container">
                <div class="viz-container"></div>
                <div class="controls-container">
                    <div class="style-controls"></div>
                    <div class="prune-controls"></div>
                    <div class="color-controls"></div>
                </div>
            </div>
        </div>
    </body>
</html>
