version: "3.6"
services:
  react:
    image: node:18.7-buster
    volumes:
      - ./react:/usr/app
    working_dir: /usr/app
    ports:
      - ${REACT_PORT:-1212}:${REACT_PORT:-1212}
    environment:
      - REACT_PORT
    entrypoint: "yarn run start"
    networks:
      - tmc-network
  node:
    image: too-many-cells-js:latest
    build: ./
    volumes:
      - ./node:/usr/app
    depends_on: 
      - postgres
    environment:
      - PGUSER=postgres
      - PGHOST=postgres
      - PGDATABASE=tmc
    networks:
      - tmc-network
    entrypoint: "yarn run start"
  postgres:
    image: postgres:14.5
    environment:
      - POSTGRES_DB=tmc
      - POSTGRES_HOST_AUTH_METHOD=trust
    volumes:
      - ./postgres/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
      - postgres-data:/var/lib/postgresql/data
    networks:
      - tmc-network

volumes:
  postgres-data:

networks:
  tmc-network: